## -production build environment file-
##
## copy this file to: `build.env` and replace values
##
export API_SERVER="https://example.com"
export API_KEY=<api key from strapi>

## These are public values (visible to the browser), so OK to show real values below:
export NEXT_PUBLIC_MAILCHIMP_URL="https://sorrowbacon.us4.list-manage.com/subscribe/post?u=fe0fdf800bfbb99926336ef93&id=443fe4954b"
export NEXT_PUBLIC_GA_MEASUREMENT_ID="G-W643SW1TTK"
